/* Estilo da Fonte */
.roboto{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}
.rubik{
    font-family: 'Rubik', sans-serif;
    font-style: normal;
}
/* Tamanhos */
.size-16{
    font-size: 16px;
}
.size-20{
    font-size: 20px;
}
.size-24{
    font-size: 24px;
}
/* Peso */
.weight-70{
    font-weight: 700;
    line-height: 24px;
}
.weight-40{
    font-weight: 400;
    line-height: 19px;
}
/* Cores */
.color-white{
    color: #FFFFFF;
}
.color-secondary{
    color: #CCC3C3;
}
